
/* line 1 : /home/caoyu/repos/csdn_rabbit/node_modules/grunt-contrib-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn {
  border: none;
  border-radius: 0;
  min-width: 80px;
  height: 28px;
  line-height: 16px;
  color: #fff;
}

/* line 9 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn:hover,
.btn:focus {
  color: #fff;
}

/* line 12 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-default,
.btn-success,
.btn-danger,
.btn-warning,
.btn-primary {
  background-image: none;
}

/* line 20 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-default {
  background-color: #999;
}

/* line 17 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-default:hover,
.btn-default:focus {
  background-color: #666;
}

/* line 22 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-default.dropdown-toggle {
  color: #333;
  background-color: #ccc;
}

/* line 25 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-default.dropdown-toggle:hover,
.btn-default.dropdown-toggle:focus {
  color: #666;
  background-color: #fff;
}

/* line 29 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-default-reverse {
  box-shadow: 0 1px 0 rgba(255,255,255,0.15) inset, 0 1px 1px rgba(0,0,0,0.075);
  text-shadow: 0 1px 0 #fff;
}

/* line 32 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-default-reverse:active,
.btn-default-reverse.active {
  box-shadow: 0 3px 5px rgba(0,0,0,0.125) inset;
}

/* line 34 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-default-reverse.dropdown-toggle {
  color: #666;
  background-color: #fff;
}

/* line 37 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-default-reverse.dropdown-toggle:hover,
.btn-default-reverse.dropdown-toggle:focus {
  color: #333;
  background-color: #ccc;
}

/* line 41 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.dropdown-toggle {
  border: 1px solid #c6c6c6;
  padding: 6px;
  line-height: 14px;
}

/* line 46 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-success {
  background-color: #7ab521;
}

/* line 17 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-success:hover,
.btn-success:focus {
  background-color: #5f980b;
}

/* line 49 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-primary {
  background-color: #dc3c00;
}

/* line 17 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-primary:hover,
.btn-primary:focus {
  background-color: #b43200;
}

/* line 52 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-warning {
  background-color: #f90;
}

/* line 17 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-warning:hover,
.btn-warning:focus {
  background-color: #ff7900;
}

/* line 55 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-danger {
  background-color: #2981a9;
}

/* line 17 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-danger:hover,
.btn-danger:focus {
  background-color: #025d87;
}

/* line 58 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-lg {
  min-width: 110px;
  height: 40px;
  line-height: 20px;
  font-family: "Microsoft YaHei", Helvetica, Tahoma, Arial, sans-serif;
}

/* line 65 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-sm {
  min-width: 66px;
  height: 22px;
  line-height: 12px;
}

/* line 72 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-top {
  width: 40px;
  height: 40px;
  background-color: #ccc;
}

/* line 17 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-top:hover,
.btn-top:focus {
  background-color: #676767;
}

/* line 76 : /home/caoyu/repos/csdn_rabbit/src/themes/default/css/btn.styl */
.btn-top .glyphicon-chevron-up {
  font-size: 18px;
}
